a {
    color: #ff4081;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
html {
    font-family: "Roboto",sans-serif;
}
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
body {
    font-size: 15px;
    line-height: 24px;
}
.muidocs-checkbox-example {
    background-color: #4caf50;
    border: 2px solid #ff9800;
}
